* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, serif;
    font-size: 1rem;
    color: #333;
    background: #fff;
    padding: 2rem 0;
}

h1 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: #000080;
    text-align: center;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background-color: #f2f2f2;
    display: grid;
    gap: 1.5rem;
}

fieldset {
    display: grid;
    gap: 1rem;
    border: 1px solid #ccc;
    padding: 1.5rem;
    background-color: #f9f9f9;
}

legend {
    padding: 0 0.5rem;
    color: #000080;
    font-size: 1.4rem;
}

label, input, button, select, textarea {
    font-family: Arial, sans-serif;
}

label {
    color: #444;
}

input, select, textarea {
    padding: 0.4rem;
    font-size: 1rem;
    border: 1px solid #777;
}

.form-item {
    display: grid;
    align-items: center;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    text-align: right;
}

.column2 label {
    padding-right: 1rem;
}

.column1 {
    grid-template-columns: 3fr 1fr;
}

.column1 label {
    text-align: right;
    padding-right: 1rem;
}

.column1 input[type="checkbox"] {
    width: 22px;
    height: 22px;
    justify-self: start;
}

.textarea-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    text-align: center;
    margin-top: 0.5rem;
}

button {
    justify-self: center;
    background-color: #000080;
    color: #fff;
    border: none;
    border-radius: .25rem;
    padding: .75rem 1.5rem;
    font-size: 1.1rem;
    cursor: pointer;
}

button:hover {
    background-color: #000066;
}

footer {
    margin: 1.5rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.9rem;
    color: #666;
    border-top: 1px solid #ccc;
    padding-top: 1rem;
}

.sub-footer {
    margin-top: 1rem;
    color: #000;
}